{% extends "base.html" %}

{% block content %}
<h1>Поиск новостей</h1>

<form method="get">
    <input type="text" name="title" placeholder="Название" value="{{ request.GET.title }}">
    <input type="text" name="author" placeholder="Автор" value="{{ request.GET.author }}">
    <input type="date" name="date_after" value="{{ request.GET.date_after }}">
    <button type="submit">Искать</button>
</form>

{% for post in news_list %}
    <div>
        <h2>{{ post.title }}</h2>
        <p>{{ post.preview }}</p>
        <p><strong>Автор:</strong> {{ post.author.user.username }}</p>
        <p><strong>Дата:</strong> {{ post.created_at }}</p>
    </div>
{% empty %}
    <p>Ничего не найдено.</p>
{% endfor %}

<!-- Пагинация -->
<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page=1">Первая</a>
        <a href="?page={{ page_obj.previous_page_number }}">Назад</a>
    {% endif %}

    {% for num in page_range %}
        {% if num == page_obj.number %}
            <strong>{{ num }}</strong>
        {% else %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Вперёд</a>
        <a href="?page={{ paginator.num_pages }}">Последняя</a>
    {% endif %}
</div>
{% endblock %}
